/**
 * @file Styles des pages de commande (validation et confirmation)
 * @description Pour les recap de panier qui sont à gérer différemment
 * @author Christine Daneau-Pelletier
**/

// Régles générales pour la mise en forme des étapes
.barreProgression {
  margin: 4rem auto;
  padding-right: 24px;
  display: flex;
  justify-content: center;

  &__liste, &__listeItem {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      height: 49px;
      width: 27px;
      top: -1px;
    }
  }

  // ul
  &__liste {
    display: flex;
    flex-flow: row nowrap;
    @media (max-width: $bureau) {
      margin: 0 auto;
    }
    &:after {
      left: -1px;
      background: url(../images/triforce--blanc.svg) no-repeat 0 0 /contain;
    }
  }

  // li
  &__listeItem {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    width: fit-content;
    height: 48px;
    padding: 0 20px 0 45px;
    background-color: $turquoise--pale;
    @media (max-width: $bureau) {
      padding: 0 5px 0 38px;
      font-size: 12.75px;
    }
    @media (max-width: 359px) {
      padding: 0 0 0 30px;
    }

    &:after {
      z-index: 1;
      left: 99.5%;
      background: url(../images/triforce--turquoisePale.svg) no-repeat 0 0 /contain;
    }
  }
}

// Adaptation livraison
.livraison {
  .barreProgression {
    &__listeItem {
      &:first-of-type {
        background-color: $turquoise;
        &:after {
          background: url(../images/triforce--turquoise.svg) no-repeat 0 0 /contain;
        }
      }
      &:nth-of-type(2), &:last-of-type {
        background-color: $grisPale;
        &:after {
          filter: brightness(1.065);
          background: url(../images/triforce--gris.svg) no-repeat 0 0 /contain;
        }
      }
      &:nth-of-type(2) {
        &:after {
          filter: brightness(1.065) drop-shadow(1px 0px 0px $turquoise);
        }
      }
    }
  }
}

// Adaptation facturation
.facturation {
  .barreProgression {
    &__listeItem {
      &:nth-of-type(2) {
        background-color: $turquoise;
        &:after {
          background: url(../images/triforce--turquoise.svg) no-repeat 0 0 /contain;
        }
      }
      &:last-of-type {
        background-color: $grisPale;
        &:after {
          filter: brightness(1.065);
          background: url(../images/triforce--gris.svg) no-repeat 0 0 /contain;
        }
      }
    }
  }
}

// Adaptation validation
.validation {
  .barreProgression {
    &__listeItem {
      &:first-of-type {
        &:after {
          filter: drop-shadow(1px 0px 0px $turquoise);
        }
      }
      &:nth-of-type(3) {
        background-color: $turquoise;
        &:after {
          background: url(../images/triforce--turquoise.svg) no-repeat 0 0 /contain;
        }
      }
    }
  }
}